<template>
  <h1 class="h1head">Новости</h1>
  <form action="/search/" target="_blank" class="form-search">
  <input type="hidden" name="searchid" value="808327">
  <input type="search" name="text" required placeholder="Поиск по новостям">
  <input type="submit" value="&#128269;">
</form>
<br>
<div class="sortirovka">
  <input id="q2" type="radio" name="sort"><label for="q2">Непопуполярные</label><br>
  <input id="q3" type="radio" name="sort"><label for="q3">Популярные</label><br>

<div class="wrapper">
</div>
</div>
<div class="mainnews">
  <div 
  class="news"
  v-for ="(item, index) in news" 
  :key="index" 
  :style="{
    '--default': index,
    '--cost': item.cost
  }"
     >
     <router-link :to="{name : 'news-item', params : {id : index}}">
      <h3>
        {{ item.nameArticle }}
      </h3>
      <p class="newsp">
        {{ item.bodyText }}
      </p>
      </router-link>
    </div>
</div>
</template>

<script>

export default {
  data (){
    return {
      // news: null
    }
  },
  created (){
    // fetch('http://localhost:8080/main.json')
    //   .then(response => response.json())
    //   .then(result => {
    //     this.news=result
    //   })
    this.$store.dispatch("getNews");
  },
  computed : {
    news(){
      return this.$store.state.news;
    }
  }
}
</script>

<style>
.wrapper {
	display: flex;
	flex-direction: column;
}
.mainnews {
	display: flex;
	flex-direction: column;
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
#q1:checked~.wrapper>.item {
  order: var(--default);
}
#q2:checked~.wrapper >.item {
	order: var(--cost);
}
#q3:checked~.wrapper>.item {
	order: var(--cost);
}
#q1:checked~.mainnews>.news {
  order: var(--default);
}
#q2:checked~.mainnews>.news {
	order: var(--cost);
}
#q3:checked~.mainnews>.news {
	order: var(--cost);
}
#q3:checked~.wrapper{
	flex-direction: column-reverse;
}
#q3:checked~.mainnews{
	flex-direction: column-reverse;
}
.form-search {
  display: inline-block;
  border-bottom: 1px solid;
  margin: 16px 10px;
}
.form-search input {
  all: unset;
}
.news{
  padding-top: 25px;
  border: 1.5px solid #ff0000;
  outline: 2px solid black;
  padding: 5px;
  margin: 16px 5px;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.news2{
  border: 1.4px dashed black;
  outline: 0.1px dashed black;
}
.h1news{
  font-size: 1.5em;
  color:darkblue;
  text-decoration: none;
}
.h1head{
  margin-left: 10px;
}
.sortirovka{
  margin-left: 10px;
}
a{
  text-decoration: none;
  color: darkblue; 
}
.newsp{
  border: 1.4px dashed black;
  outline: 0.1px dashed black;
}
</style>