<template>
    <div class="cards">

      <v-card
      class="mx-auto"
      max-width="368"
      v-for:="city in cities"
    >
      <v-card-item :title="city.name">
        <template v-slot:subtitle>
        </template>
      </v-card-item>
  
      <v-card-text class="py-0">
        <v-row align="center" no-gutters>
          <v-col
            class="text-h4"
            cols="6"
            v-if="loaded"
          >
            {{city.currentweather.main.temp}}&deg;C
          </v-col>
  
          <v-col cols="6" class="text-right">
          </v-col>
        </v-row>
      </v-card-text>
  
      <div class="d-flex py-3 justify-space-between">
        <v-list-item
          density="compact"
          prepend-icon="mdi-weather-windy"
        >
          <v-list-item-subtitle  v-if="loaded">{{ city.currentweather.wind.speed }} м / c</v-list-item-subtitle>
        </v-list-item>
  
        <v-list-item
          density="compact"
          prepend-icon="mdi-weather-pouring"
        >
          <v-list-item-subtitle  v-if="loaded">{{city.currentweather.main.humidity}}%</v-list-item-subtitle>
        </v-list-item>
      </div>
  
      <!-- <v-expand-transition>
        <div v-if="expand">
          <div class="py-2">
            <v-slider
              v-model="time"
              :max="6"
              :step="1"
              :ticks="labels"
              class="mx-4"
              color="primary"
              density="compact"
              hide-details
              show-ticks="always"
              thumb-size="10"
            ></v-slider>
          </div>
  
          <v-list class="bg-transparent">
            <v-list-item
              v-for="item in forecast"
              :key="item.day"
              :title="item.day"
              :append-icon="item.icon"
              :subtitle="item.temp"
            >
            </v-list-item>
          </v-list>
        </div>
      </v-expand-transition> -->
  
      <v-divider></v-divider>
  
      <!-- <v-card-actions>
        <v-btn @click="expand = !expand">
          {{ !expand ? 'Full Report' : 'Hide Report' }}
        </v-btn>
      </v-card-actions> -->
    </v-card>
    </div>
  </template>

<script>
export default {
    data(){
      return {
        currentCity : false,
        labels: { 0: 'SU', 1: 'MO', 2: 'TU', 3: 'WED', 4: 'TH', 5: 'FR', 6: 'SA' },
        expand: false,
        time: 0,
        forecast: [
          { day: 'Tuesday', icon: 'mdi-white-balance-sunny', temp: '24\xB0/12\xB0' },
          { day: 'Wednesday', icon: 'mdi-white-balance-sunny', temp: '22\xB0/14\xB0' },
          { day: 'Thursday', icon: 'mdi-cloud', temp: '25\xB0/15\xB0' },
        ],
        loaded: false
      }
    },
    mounted(){
      if(this.$route.params.city){
        this.currentCity = this.$route.params.city;
        this.$store.commit("setCurrentCity", this.currentCity);
        this.$store.dispatch("getWeatherByCity", this.$route.params.city).then(data => {
          if(data){
            this.loaded = true;
          }
        });
      }
      else{
        this.currentCity = false;
        this.$store.dispatch("getWeather").then(() => {
            this.loaded = true;
        })
      }
    },
    updated(){
      this.loaded = false;
      if(this.$route.params.city){
        this.currentCity = this.$route.params.city;
        this.$store.commit("setCurrentCity", this.currentCity);
        this.$store.dispatch("getWeatherByCity", this.$route.params.city).then(data => {
          if(data){
            this.loaded = true;
          }
        });
      }
      else{
        this.currentCity = false;
        this.$store.dispatch("getWeather").then(() => {
            this.loaded = true;
        })
      }
    },
    computed : {
      cities(){
        if(this.currentCity){
          // console.log(this.$store.getters.getCity.currentweather)
          return [this.$store.getters.getCity];
        }
        return this.$store.state.cities;
      }
    }
  }
</script>

<style>
.v-card{
  margin-top: 15px;
}
p{
  border: 1.5px solid #ff0000;
  outline: 2px solid black;
  display: block;
}
</style>