<template>
  <h1>Рекорды</h1>
  <div>
    <p class="precords">
      Абсолютный температурный рекорд дня принадлежит 26 августа 1938 года - 35,3 градуса. "Это максимум за 143-летнюю историю метеонаблюдений в Москве, которая ведет свой отсчет с 1879 года.
    </p>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.precords{
  padding: 5px;
}
</style>