<template>
  <h1 class="h1main">Главная</h1>
  <!-- <form>
    <p>Введите свою страну</p>
    <input type="text" placeholder="Страна" class="border">
    <p>Введите свой город</p>
    <input type="text" placeholder="Город" class="border">
    <p>Или</p>
    <p>Введите свои координаты</p>
    <input type="text" placeholder="Координаты по x" class="x">
    <br>
    <input type="text" placeholder="Координаты по y" class="border">
    <br>
    <button class="border-button">Отправить</button>
  </form> -->
  <WeatherForm></WeatherForm>
</template>
<script>
import WeatherForm from "../components/WeatherForm.vue";
export default {
  components : {
    WeatherForm
  }
}
</script>

<style>
.x{
  margin-bottom: 16px;
  border: 1.5px solid #ff0000;
  outline: 2px solid black;
}
.border{
  border: 1.5px solid #ff0000;
  outline: 2px solid black;
}
.border-button{
  margin-top: 16px;
  border: 1.5px solid #ff0000;
  outline: 2px solid black;
}
.h1main{
  margin-left: 10px;
}
</style>