<template>
   <!-- <h1>Жителей Магаданской области предупредили об экстремальных холодах</h1> -->
   <h1 class="h1about">{{ newsItem.nameArticle }}</h1>
   <div class="newsabout">
  <article class="pnews">{{ newsItem.bodyText }}</article>
  </div>
</template>

<script>
export default {
  data(){
    return {
      id : false
    }
  },
  mounted(){
    if(this.$store.state.news.length == 0){
      this.$store.dispatch("getNews");
    }
    let id = this.$route.params.id;
    this.id = id;
  },
  computed : {
    newsItem(){
      return this.$store.getters.getNews(this.id);
    }
  }
}
</script>

<style>
.h1about{
  margin-left: 10px;
}
.newsabout{
  border: 1.5px solid #ff0000;
  outline: 2px solid black;
  padding: 5px;
  margin-left: 10px;
}
.pnews{
    border: 1.4px dashed black;
    outline: 0.1px dashed black;
    font-size: 1.5em;
    color: black;
}
article::selection{
    color: white;
    background: black;
}
@media print {
  * { -webkit-print-color-adjust: exact; }
}
</style>