<template>
  <header>
    <div class="navbar">
    <router-link :to="{name : 'main'}">Главная</router-link>
    <router-link :to="{name : 'news'}">Новости</router-link>
    <div class="dropdown">
      <button class="dropbtn"> Все города
      </button>
      <div class="dropdown-content">
        <router-link :to="{name : 'weather'}">Все города</router-link>
        <router-link :to="{name : 'cityWeather', params : {city : 'Moscow'}}">Москва</router-link>
        <router-link :to="{name : 'cityWeather', params : {city : 'S.Petersburg'}}">Санкт-Петербург</router-link>
        <router-link :to="{name : 'cityWeather', params : {city : 'Ekaterinburg'}}">Екатеринбург</router-link>
      </div>
    </div>
    <router-link :to="{name : 'records'}">Рекорды температуры</router-link>
  </div>
  </header>
</template>

<script>

export default {

}
</script>

<style>
 @media (max-width: 518px){
      body{
        background-color: #c0c0c0;
      }
      body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-direction: column;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  text-align: center;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-align: center;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
p::-moz-selection {
  color: red;
  background: black;
}
}
@media (max-width: 2500px){
      body{
        background-color: #c0c0c0;
      }
      body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
p::selection {
  color: white;
  background: black;
}
}
</style>