<template>
  <v-form class="v-form">
    <v-container>
        <v-row>
            <v-text-field label="Город" v-model="city"></v-text-field>    
        </v-row>
        <v-row>
            <v-btn
                    color="black"
                    class="mr-4"
                    @click="checkWeather"
                    >
            Узнать
            </v-btn>
        </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
    data(){
        return {
            city : ""
        }
    },
    methods : {
        checkWeather(){
            this.$store.commit("addCity", {rus : this.city, eng : this.translited});
            this.$router.push({name : "cityWeather", params : {city : this.translited}})
        },
        translit(word){
            let answer = '';
            let converter = {
                'а': 'a',    'б': 'b',    'в': 'v',    'г': 'g',    'д': 'd',
                'е': 'e',    'ё': 'e',    'ж': 'zh',   'з': 'z',    'и': 'i',
                'й': 'y',    'к': 'k',    'л': 'l',    'м': 'm',    'н': 'n',
                'о': 'o',    'п': 'p',    'р': 'r',    'с': 's',    'т': 't',
                'у': 'u',    'ф': 'f',    'х': 'h',    'ц': 'c',    'ч': 'ch',
                'ш': 'sh',   'щ': 'sch',  'ь': '',     'ы': 'y',    'ъ': '',
                'э': 'e',    'ю': 'yu',   'я': 'ya',
        
                'А': 'A',    'Б': 'B',    'В': 'V',    'Г': 'G',    'Д': 'D',
                'Е': 'E',    'Ё': 'E',    'Ж': 'Zh',   'З': 'Z',    'И': 'I',
                'Й': 'Y',    'К': 'K',    'Л': 'L',    'М': 'M',    'Н': 'N',
                'О': 'O',    'П': 'P',    'Р': 'R',    'С': 'S',    'Т': 'T',
                'У': 'U',    'Ф': 'F',    'Х': 'H',    'Ц': 'C',    'Ч': 'Ch',
                'Ш': 'Sh',   'Щ': 'Sch',  'Ь': '',     'Ы': 'Y',    'Ъ': '',
                'Э': 'E',    'Ю': 'Yu',   'Я': 'Ya'
            };
        
            for (let i = 0; i < word.length; ++i ) {
                if (converter[word[i]] == undefined){
                    answer += word[i];
                } else {
                    answer += converter[word[i]];
                }
            }
        
            return answer;
        }
    },
    computed: {
        translited(){
            return this.translit(this.city);
        }
    }
}
</script>

<style>
.v-form{
    border: 1.5px solid #ff0000;
    outline: 2px solid black;
    width: 250px;
    margin-left: 10px;
}
</style>