<template>
  <v-app>
    <v-main>
      <HeaderMain></HeaderMain>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import HeaderMain from "./components/HeaderMain.vue";
export default {
  name: 'App',

  data: () => ({
    //
  }),
  components: {
    HeaderMain
  }
}
</script>
